<div class="container">
    <h2 class="text-center pt-2 mt-3">Productos</h2>
    <div class="row text-center pt-3 ">
        <div class="col-lg-3 col-md-4 col-sm-6 card p-2 text-center">
            <div class="producto">
                <img src=".../../../../../assets/crema_gel.png" alt="">
            </div>
            <h5>Crema Facial Dermaglos Ultra Hidratación x50gr</h5>
            <h3>$ 10.900,20</h3><br><br>
            <button type="button" class="btn btn-dark">Agregar</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card  p-2 text-center">
            <div class="producto">
                <img src=".../../../../../assets/crema_facial.png" alt="">
            </div>
            <h5>Crema Facial Cicatricure Antiedad Tricure x50gr</h5>
            <h3>$ 7.500,00</h3><br><br>
            <button type="button" class="btn btn-dark">Agregar</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 card p-2 text-center">
            <div class="producto">
                <img src=".../../../../../assets/crema_gel.png" alt="">
            </div>
            <h5>Crema Facial Dermaglos Ultra Hidratación x50gr</h5>
            <h3>$ 10.900,20</h3><br><br>
            <button type="button" class="btn btn-dark">Agregar</button>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-6 card p-2 text-center">
            <div class="producto">
                <img src=".../../../../../assets/by_derm_alcohol.jpg" alt="">
            </div>
            <h5>By Derm Alcohol en gel env. x 100 ml</h5>
            <h3>$ 843,00</h3>
            <button type="button" class="btn btn-dark">Agregar</button>
        </div>
    </div>
    <br>
    <h2 class="text-center mt-3 mb-3">Nuestro Blog</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src=".../../../../../assets/afonia.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medicamentos para la Afonia</h5>
                    <p class="card-text">La afonía y la disfonía son trastornos relacionados con la voz que afectan la
                        capacidad de hablar con normalidad. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src=".../../../../../assets/migraña.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medicamentos para la migraña</h5>
                    <p class="card-text">La migraña se caracteriza por un dolor de cabeza pulsátil, a menudo intenso,
                        que generalmente afecta un solo lado del cráneo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src=".../../../../../assets/cortisol.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tratamiento para bajar el cortisol</h5>
                    <p class="card-text">El cortisol, conocido como la hormona del estrés, ejerce efectos en
                        prácticamente todos los órganos y tejidos del cuerpo. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="form pt-1">
        <h5 class="m-3 ">Informacion personal</h5>
        <form class="p-4">
            <div class="mb-3">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationCustom01" value="Daniel" required>
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="text-center">
                <button class="btn btn-primary pe-5 ps-5" type="submit">ENVIAR</button>
              </div>
        </form>
    </div>
   
</div>